#Slider {
  font-size: 5vw;

  .slide {
    padding: 50px;
    display: grid;
    align-items: center;
    position: absolute;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    width: 100%;
    grid-template-areas:
      ". number . . . . . ."
      ". . . . text . . .";

    .numberContainer,
    .textContainer {
      overflow: hidden;
      width: fit-content;
    }

    .numberContainer {
      grid-area: number;
      text-align: center;
    }
    .textContainer {
      grid-area: text;
      white-space: nowrap;
    }
  }
  .buttonContainer {
    display: flex;
    position: absolute;
    gap: 20px;
    bottom: 50px;
    right: 50px;
    font-size: 3vw;

    p:hover {
      cursor: pointer;
    }
  }
}
